/*titleContainer*/
.titleContainer{
  width: 100%;
  overflow: hidden;
  background: #43d883;
}
.content{
  padding: 75px 0px 60px;
}
.titleContainer h3{
  margin: 0;
  line-height: 40px;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-weight: 300;
  color: #fff; 
  text-transform: uppercase;
  font-size: 26px;
}
