@charset "utf-8";
/* CSS Document */
/**
 * @author: Lorence
 * Part1: Writting CSS to reset a lot of default components
 * Website: https://www.templatemonster.com/demo/52055.html;
 * Website: https://www.templatemonster.com/demo/61124.html
 */
h4, h5, h6, h1, h2, h3 {margin-top:0;}
ul,ol{margin:0;}
p{margin:0;}
ul{list-style-type: none;}
a:hover{
	text-decoration: none;
}
a{
	text-decoration: none;
}
html,body{
	font-family:'Roboto',sans-serif;
	font-size:100%;
	background:#fff;
	width: 100%;
}
/**
 * @Author: Lorence
 * @Purpose: Design Website Template;
 */
 /** ----------------- BANNER HEADER ------------------**/
 .banner{
 	margin-top: 10px;
 }
 .banner img{
 	width: 100%;
 	height: auto;
 }
/** ----------------- NAVIGATION MENU ------------------**/
.navBar{
	margin-top: 10px;
	background-color: #255ab5;
}
.nav .home{
	color:white;
}
.navBar div ul li{
	border-right: 1px solid #4c7bd2;
}
.navBar div ul li:nth-child(1){
	border-left: 1px solid #4c7bd2;	
}
.navBar div ul li:nth-child(10){
	border-right: none;	
}
.navBar div ul li a{
	color:white;
	font-size: 15px;
	font-family: 'Roboto',arial;
	font-weight: 500;
}
.navBar div ul li a:hover{
	background-color: #1a4385 !important;
	color:white;
}
/** ----------------- SUBSYSTEM NAVIGATION ------------------**/
.subMenu{
	margin-top: 6px;
}
.subMenu ul{
	list-style-type: none;
	margin:0px;
	padding: 0px;
	overflow: hidden;
	margin-left: 14px;
}
.subMenu ul li{
	float: left;
}
.subMenu ul li a{
	font-size: 12px;
	text-align: center;
	display: block;
	color: #888888;
	padding: 4px 6px;
}
.subMenu ul li:first-child a{
	color:red;
}
/**
  * Body Website: Two Part;
  * - Part 1: Main post of website;
  * - Part 2: Sidebar of website;
  */
.content div div div div:nth-child(2) h2{
	margin-top: 4px;
	color: red;
}
.content div div div div div{
	margin-bottom: 10px;
}
.content div div div div .line{
	border: 0.1em solid #eeeeee;
}
.content div div div div .line:nth-child(8){
	border: none;
}
.content div div div div div div:nth-child(2){
}
.content div div div div div div img{
	margin-top: 3px;
}
.content div div div div div div p{
	color:black;
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
}

/** Current Post of Website **/
.content div div .post2{
	margin-top: 6px;
}
.content div div .post2 div img{
	padding: 15px;
}
.content div div .post2 div p{
	padding: 0px 15px;
	font-size: 14px;
	font-weight: bold;
	text-align: justify;
    text-justify: inter-word;
}

/** ROW 3 **/
.content div div .line{
	border-top: 0.1em solid #eeeeee;
	margin-top: 10px;
}
.content div div div h2{
	color:#1f488e;
	font-weight: bold;
	font-size: 24px;
}
.content div div .post3{
	border-top: 2px solid #1f488e;
	background-color: #f7f7f7;
}
.content div div .post3 div img{
	margin-top: 10px;
}
.content div div .post3 div h2{
	margin-left: 36px;
	margin-top: 6px;
}
.content div div .post3 div .description{
	margin-left: 36px;
	margin-right: 36px;
	text-align: justify;
    text-justify: inter-word;
}
.content div div .post3 div div{
	padding: 1px;
}
.content div div .post3 div div p{
	margin-top: 8px;
	margin-left: -37px;
}

/** ROW 4 **/
.content div div .line{
	border-top: 0.1em solid #eeeeee;
	margin-top: 10px;
}
.content div div div h2{
	color:#1f488e;
	font-weight: bold;
	font-size: 24px;

	margin-top: 24px;
}
.content div div .post4{
	border-top: 2px solid #1f488e;
	background-color: #f7f7f7;
}
.content div div .post4 div img{
	margin-top: 10px;
}
.content div div .post4 div h2{
	margin-left: 10px;
}
.content div div .post4 div .description{
	text-align: justify;
    text-justify: inter-word;
    margin-left: 10px;
}
.content div div .post4 div:nth-child(2) img{
	margin-left: 8px;
}
.content div div .post4 div:nth-child(2) h2{
	color:black;
	text-align: justify;
    text-justify: inter-word;
}
.content div div .post4 div:nth-child(3) div{
	margin-left: 10px;
}
.content div div .post4 div:nth-child(3) div p{
	font-size: 14px;
	margin-top: 4px;
}
.content div div .post4 div:nth-child(3) .line{
	border: 0.5px solid #eeeeee;
}
.content div div .post4 div:nth-child(3) .line:nth-child(12){
	border: none;
}