@charset "utf-8";
/* CSS Document */
/**
 * @author: Lorence
 * Part1: Writting CSS to reset a lot of default components
 * Website: https://www.templatemonster.com/demo/52055.html;
 * Website: https://www.templatemonster.com/demo/61124.html
 */
h4, h5, h6, h1, h2, h3 {margin-top:0;}
ul,ol{margin:0;}
p{margin:0;}
ul{list-style-type: none;}
a:hover{
	background-color:transparent;
	text-decoration: none;
}
a{
	text-decoration: none;
}
html,body{
	font-family:'Roboto',sans-serif;
	font-size:100%;
	background:#fff;
	width: 100%;
}
/**
 * @Author: Lorence
 * @Purpose: Design Website Template;
 */
 /** ----------------- BANNER HEADER ------------------**/
 .banner{
 	margin-top: 10px;
 }
 .banner img{
 	width: 100%;
 	height: auto;
 }
/** ----------------- NAVIGATION MENU ------------------**/
.navigationInner{
	 background-color: #232989;
	 margin-top: 10px;
}
.navigationInner ul{
	list-style-type: none;
	margin:0px;
	padding: 0px;
	overflow: hidden;
	background-color: #232989;

	margin-left: 14px;
}
.navigationInner ul li{
	float: left;
	border-right: 0.2px solid #4c7bd2;
}
.navigationInner ul li a{
	font-weight: bold;
	font-size: 13px;

	text-align: center;
	display: block;
	color: white;
	padding: 8px 10px;
}
.navigationInner ul li:first-child{
	padding-right: 10px;
	padding-left: 10px;
}
.navigationInner ul li:first-child a{
	font-size: 24px;
	margin: -8px;
}
 .navigationInner ul li:hover{
 	background-color: #07398e;
 }

.titleInner{
	margin-top: 1px;
}
.titleInner ul{
	list-style-type: none;
	margin:0px;
	padding: 0px;
	overflow: hidden;
	margin-left: 14px;
}
.titleInner ul li{
	float: left;
}
.titleInner ul li a{
	font-size: 12px;
	text-align: center;
	display: block;
	color: #888888;
	padding: 4px 6px;
}
.titleInner ul li:first-child a{
	color:red;
}
/** ----------------- MAIN WEBSITE ------------------**/
/**
  * Body Website: Two Part;
  * - Part 1: Main post of website;
  * - Part 2: Sidebar of website;
  */
.wrapperContainer{
	margin-top: 2px;
}
.wrapperContainer .wrapperInner{
	margin: 0;
	padding: 0;
}
.postCommon div{
	margin-bottom: 10px;
	text-align: left;
}
.postCommon div p:nth-child(1){
	/** To do **/
}
.postCommon div p:nth-child(2){
	text-align: justify-all;
}
.postCommon div p img{
	float: left;
	width: 95px;
	height: 75px;

	margin-right: 10px
}
.postCommon div p a{
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	font-size: 13px;
	color:black;
}


.mainContent #post{
	margin-left: 10px;
}
.mainContent #post p img{
	width: 100%;
	height: auto;
}
.mainContent #post .title{
	margin-top: 6px;
	color: #d41b21;
	font-size: 24px;
	text-align: left;
}
.mainContent #post .description{
	text-align: left;
	font-family:'Roboto',sans-serif;
	font-weight: 400;
	font-size: 14px;

	margin-top: 4px;
}