@charset "utf-8";
@font-face {
    font-family: HelveticaNeue;
    src: url('../fonts/HelveticaNeue.ttf');
}
/* CSS Document */
/**
 * @author: Lorence
 * Part1: Writting CSS to reset a lot of default components
 * Website: https://www.templatemonster.com/demo/52055.html;
 * Website: https://www.templatemonster.com/demo/61124.html
 */
h4, h5, h6, h1, h2, h3 {margin-top:0;}
ul,ol{margin:0;}
p{margin:0;}
ul{list-style-type: none;}
a:hover{
	text-decoration: none;
}
a{
	text-decoration: none;
}
html,body{
	font-family:'Roboto',sans-serif;
	font-size:100%;
	background:#fff;
	width: 100%;
}
/**
 * @Author: Lorence
 * @Purpose: Design Website Template;
 */
 /** ----------------- BODY OF WEBSITE ------------------**/
 .body{
 	margin: 0px;
 	padding: 0px;
 	font-family: "HelveticaNeue",HelveticaNeue;
 }
.wrapper{
	background-color: #303641;
 }
 /** ============ TOP MENU NAVIGATION DRAWER ============== **/
#topMenu{
 	background-color: #303641; 	
}
#drawer-btn{
	width: 24px;
	height: 21px;
	cursor: pointer;
	margin-top: 16px;
	margin-left: -30px;
}
#drawer-btn span{
	height: 3px;
	background-color: white;
	margin-bottom: 4px;
	display: block;
}
.inner-addon {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: -36px;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.right-addon .glyphicon { right: 0px;}
.right-addon input { padding-right: 30px; }
.inner-addon input[type=text] {
    width: 220px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.inner-addon  input[type=text]:focus {
    width: 330px;
}
#rightTopMenu{
	background-color: red;
}

.wrapper .navContainer{
	/** Todo **/
}
#drawerLeft{
 	width: 200px;
 	height: 100%;
 	display: block;
 }
#drawerLeft ul{
 	margin: 0px;
 	padding: 0px;
 }
#drawerLeft ul li{
 	list-style: none;
 }
#drawerLeft.visible{
	left: 0px;
}

 #drawerLeft ul li a{
 	color: #ccc;
 	border-bottom: 1px solid #111;
 	display: block;
 	width: 180px;
 	padding: 10px;
 	text-decoration: none;
 }