@charset "utf-8";
/* CSS Document */
/**
 * @author: Lorence
 * Part1: Writting CSS to reset a lot of default components
 */
h4, h5, h6, h1, h2, h3 {margin-top:0;}
ul,ol{margin:0;}
p{margin:0;}
ul{list-style-type: none;}
a:hover{
	background-color:transparent;
}
html,body{
	font-family:'Roboto',sans-serif;
	font-size:100%;
	background:#fff;

	width: 100%;
}
/**
 * .header => .headerLeft ... => @media screen and (max-width: * 800px) => .headerRight
 * Notice that: Not using % for margin or padding. 
 * => .banner
 */
 /**
  * @author: lorence
  * @website: lorence@enclave.vn
  */
 .headerContainer{
 	/** Using container-fluid by bootstrap tutorials -- **/
 	width: 100%;
 	overflow: hidden;
 }