.wrapper{
  width: 100%;
  overflow: hidden;
  background: url(images/wallpaper1.jpg) transparent no-repeat center;
  background-size: cover;
}
@media screen and (max-width: 1024px){
    .wrapper{
        background-size: cover;
    }
}

@media screen and (max-width: 768px){
    .wrapper {
        background-size: cover;
    }
}

@media screen and (max-width: 480px){
    .wrapper{
        background-size: cover;
    }
}

@media screen and (max-width: 320px){
    .wrapper{
        background-size: cover;
    }
}

@media screen and (max-width: 240px){
    .wrapper{
        background-size: cover;
    }
}

/**  navbar --- */
.headerContainer{
    margin-bottom: 0px;
    padding: 28px 0px;
    border: none;
    background: none; 
}
