.aboutContainer{
  width: 100%;
  overflow: hidden;
}
.content{
  padding: 75px 0px 60px;
}

.ct-part1{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.ct-part1 h3{
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-weight: 300;
  color: #000; 
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 15px;
}
.ct-part1 span{
  display: inline-block;
  width: 10%;
  height: 3px;
  background: #48b749;
}
.ct-part2{
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin-bottom: 12px;
}
.ct-part2 p{
  margin: 0;
  padding: 0;
  width: 85%;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  color: #455a5d; 
  font-size: 14px;
  line-height: 30px;
}
.ct-part3{
  width: 100%;
  overflow: hidden;
}
.ct-top{
  width: 100%;
  padding-left: 65px;
  min-height: 74px;
}
.ct-top-1{
  background: url(images/ctTop-img1.png) transparent no-repeat left;
}
.ct-top-2{
  background: url(images/ctTop-img2.png) transparent no-repeat left;
}
.ct-top-3{
  background: url(images/ctTop-img3.png) transparent no-repeat left;
}
.ct-top h4{
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
  text-align: left;
  font-weight: 400;
  color: #40c479; 
  font-size: 18px;
  line-height: 74px;
}
.ct-bot{
  width: 100%;
}
.ct-part p{
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
  text-align: justify;
  font-weight: 400;
  color: #455a5d; 
  font-size: 12px;
  line-height: 30px;
}

